body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 4rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 3px #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

button:nth-child(1){
  background-color: yellow;
}
button:nth-child(2){
background-color: red;
}
button:nth-child(3){
background-color: blue;
}
button:nth-child(4){
background-color: chartreuse;
}
button:nth-child(5){
background-color: coral;
}
button:nth-child(6){
background-color: dodgerblue;
}
button:nth-child(7){
background-color: orange;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 3.7rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: white;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}